.allburgers {
    left: 5%;
    size: relative;
    background-color: aliceblue;
    display: flex;
    justify-content: first baseline;
}

.burgers {
    height: relative;
    width: 270px;
    top: 0;
    padding: 10px;
}

p {
    font-size: large;
}

h2 {
    position: relative;
}