body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
}

.allburgers {
    left: 5%;
    size: relative;
    background-color: aliceblue;
    display: flex;
    justify-content: first baseline;
}

.burgers {
    height: relative;
    width: 270px;
    top: 0;
    padding: 10px;
    border: 2px solid rgb(50, 50, 50);
    
}

#header {
    margin: 5px 0px 10px; overflow: hidden;
}

#welcome {
    position: absolute; padding: 5%; margin-top: -64%; margin-left: 28%;
}

#burgers {
    background-color: black;
    color: white;
    left: 5%;
    size: relative;
    display: flex;
    justify-content: first baseline;
}

.userinfo {
    padding: 5%;
}

#contactpayment {
    /* padding: 5%; */
}

button {
    margin: 20px 0px 20px;
}

p {
    font-size: large;
}

h1, h2 {
    position: relative;

}

.allergen {
    font-weight: bold;
}

button:hover {
    background-color: cornflowerblue;
 }

 footer {
    padding: 5px;
 }